body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.logo {
  height: 3em;
}

.plan {
  color: #000000;
}

.plan li {
  list-style: none;
  height: 10%;
  border-bottom: 0.9px solid rgba(46, 46, 46, 0.123);
  font-size: 0.9rem;
}
.plan li:last-of-type {
  border: none;
}

.plan h3 {
  text-align: center;
}

.plan-header {
  width: 100%;
  height: 18em;
  background: #f7f7f7;
}
.plan-price {
  font-size: 4em;
  color: #000000;
  font-weight: 700;
}
.plan .tipo-moneda {
  font-size: 2em;
}

.boton-preferido {
  background: #ffffff;
  border-radius: 30px;
  cursor: pointer;
  display: block;
  margin-top: 1.6em;
}

.boton-preferido:hover {
  background: #e0e0e0;
  transition: 0.25s;
  color: #ffffff;
}

.boton-no-preferido {
  border: 1px solid #112735;
  border-radius: 30px;
  cursor: pointer;
  display: block;
  width: 40%;
  margin: 0.5em auto 1em auto;
  text-align: center;
}
.boton-no-preferido:hover {
  background: #0b1b24;
  transition: 0.3s;
  color: #fff;
}

.price-div {
  border-top: 0.9px solid rgba(46, 46, 46, 0.123);
}
.planes-titulo {
  font-size: 2.6rem;
  color: #163547;
}
.boton-a-inicio {
  font-size: 1.4em;

  height: 2em;
  border: 1.5px solid #163547;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  line-height: 0.5em;
  text-align: center;
  color: #163547;
}
.boton-a-inicio:hover {
  transform: scale(1.05);
  background: #163547;
  transition: 0.2s;
  border: none;
  color: #fff;
}
.modal li {
  list-style: none;
  margin-top: 0.3em;
}

.footer {
  font-size: 0.85em;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.1rem;
  width: 100%;
  background-color: #163547;
  background-image: linear-gradient(-90deg, #163547 10%, #000 100%);
  background-size: cover;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.sidebar {
  min-height: 100vh;
  width: 10em;
  color: #eeeeee;
  font-size: 90%;
}

.navbar-color {
  color: #000;
}
.titulo-navbar {
  font-size: 2em;
}
.bg-gradient-primary {
  background-color: #193b4e;
  background-image: linear-gradient(180deg, #142e3f 10%, rgb(0, 0, 0) 100%);
  background-size: cover;
}
.bg-gradient-secondary {
  background-color: #011638;
}
.accordion {
  overflow-anchor: none;
}
.sidebar .sidebar-brand {
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  z-index: 1;
}
.sidebar-brand-icon {
  width: 70%;
}

.sidebar-divider {
  margin: 0 1rem 1rem;
  background: #858796;
}
.sidebar i {
  font-size: 90%;
  color: #858796;
}

.navbar-item {
  margin-top: 1em;
}

#content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}
#content {
  flex: 1 0 auto;
}
#wrapper {
  display: flex;
}
.sidebar p:hover {
  color: #48caeb;
  transition: 0.2s;
}

.dashboard-title {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #5a5c69;
}

.card-dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  margin: 0 auto;
  padding: 1em;
}
li {
  list-style: none;
}

.navegacionadm {
  height: 100vh;
}

.dashboard-num {
  width: 10em;
  height: 10em;
  border-radius: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #011638;
  background-image: linear-gradient(160deg, #2163ce 10%, rgb(2, 1, 1) 100%);
  background-size: cover;
}

.dashboard-num-2 {
  width: 5em;
  height: 5em;
  border-radius: 90%;
}

.dashboard-num p {
  font-size: 6rem;
  color: #ebecf1;
}

.dashboard-num-2 p {
  font-size: 3.2rem;
  color: #ebecf1;
}

.bg-dashboard {
  background: #ffffff;
}
.btn-dashboard {
  background: #3faaf2;
}
.dashboard-text {
  color: #5a5c69;
}
.dashboard-subtitle {
  color: #142e3f;
}
#content-wrapper h1 {
  color: #1e435c;
  text-align: center;
}
#content-wrapper h2 {
  color: #142e3f;
}
.contenedor-edificio {
  width: 80%;
  font-size: 90%;
}
.contenedor-edificio i {
  font-size: 1.9rem;
}
.contenedor-edificio .fa-pencil-alt,
.contenedor-edificio .fa-times,
.contenedor-edificio .fa-trash-alt,
.contenedor-edificio .fa-check {
  font-size: 1.2rem;
}
.contenedor-edificio h5 {
  font-size: 100%;
  font-weight: bold;
}

.edificio-color-4 {
  color: #1f4961;
}

.avatar-img {
  width: 12em;
  height: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1em;
  margin-top: 1em;
  background: rgb(245, 245, 245);
  z-index: 2;
  overflow: hidden;
}
.avatar-img img {
  height: 120%;
  width: auto;
}

.icons-conserje {
  z-index: 3;
  font-size: 1.2em;
  color: #e7e5e5;
}

.icons-conserje i {
  cursor: pointer;
}

.fondo-avatar {
  background: #1b4157;
  width: 100%;
  height: 10em;
  top: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  box-shadow: 0px 0px 12px -1px #000 inset;
}
.header-conserje {
  z-index: 2;
}
.w-40 {
  width: 40%;
}
.conserjes-activos {
  font-size: 1.1rem;
}
.prueba {
  background: #3db5d00e;
}
.modal-lg {
  min-height: 60vh;
  min-width: 50vh;
}
.boton-hover {
  background: #fff;
}
.boton-hover:hover {
  background: #69c8f0;
  transition: 0.2s;
}
.min-height-50 {
  min-height: 50vh;
}
.dashboard-blue {
  background-color: #010549;
  background-image: linear-gradient(160deg, #01218a 10%, #010031 100%);
  background-size: cover;
}
.login-celeste {
  color: #3eace9;
}

.login-background {
  background-color: #3941b4a4;
  background-image: linear-gradient(60deg, #1821a5 10%, #3f3ddf 60%);
}
.modal-lg2 {
  min-height: 60vh;
  min-width: 55vw;
}
.bg-modal {
  background: #eceef1;
}
.logo-footer {
  width: 6.5em;
  height: auto;
}
.logo-home {
  width: 4.5em;
  height: auto;
}
.logo-planes {
  width: 6.3em;
}
.planes {
  background: #163547;
  background-image: linear-gradient(155deg, #163547 10%, #0b1b24 90%);
  background-size: cover;
}

/* Home */
header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 22.5rem;
  text-align: center;
  color: black;
  background-image: url("/img/free-wallpaper-37.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
/* Home end */
.page-section {
  padding: 6rem 0;
}
/* Services */
.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}
/* Services end */

.bg-db-1 {
  background: #48a7e4;
}
.bg-db-2 {
  background: #3abeb8;
}
.bg-db-3 {
  background: #ececec;
}
.bg-db-4 {
  background: #3db5d0;
}
.btn-db-1 {
  background: #288ed1;
  width: 5em;
  height: 5em;
  border-radius: 90%;
  color: #ebecf1;
}
.btn-db-2 {
  background: #2a978b;
  width: 5em;
  height: 5em;
  border-radius: 90%;
  color: #ebecf1;
}
.btn-db-3 {
  background: #c7c7c7;
  width: 5em;
  height: 5em;
  border-radius: 90%;
}
.btn-db-1 p,
.btn-db-2 p,
.btn-db-3 p,
.btn-db-4 p {
  font-size: 3rem;
}
.btn-db-4 {
  background: #3192a8;
  width: 5em;
  height: 5em;
  border-radius: 90%;
  color: #ebecf1;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.font-bigger {
  font-size: 1.3em;
}
.carousel-caption {
  line-height: inherit;
}
.min-h-20 {
  min-height: 25vh;
}

.btn-verde {
  background: #40dba7;
  color: #fff;
}
.btn-amarillo {
  background: #fcea50;
  color: #000;
}
.btn-azul {
  background: #3db5d0;
  color: #fff;
}
.btn-oscuro {
  background: #163547;
  color: #fff;
}

tr:hover {
  background: #59b5eb2a;
}

.fa-handshake,
.fa-list-alt,
.fa-boxes {
  background: rgb(0, 238, 146);
  background: linear-gradient(
    90deg,
    rgba(0, 238, 146, 1) 0%,
    rgba(0, 207, 189, 1) 50%,
    rgba(0, 164, 246, 1) 94%
  );
}
.circle {
  border-radius: 80%;
  width: 80%;
  height: 100%;
  margin-left: 15px;
}
.big-font p {
  font-size: 3.7em;
}

.card-carousel {
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 15px;
}

.card-carousel .card {
  border: 1.5px solid #288ed1;
}
.card-carousel li {
  margin: 0.5rem;
  width: 15em;
}

.conserjes-turno ::-webkit-scrollbar {
  width: 7px;
}

.conserjes-turno ::-webkit-scrollbar-track {
  background: #288ed1;
}

.conserjes-turno ::-webkit-scrollbar-thumb {
  background: #1f6b9e;
}

.conserjes-turno ::-webkit-scrollbar-thumb:hover {
  background: #144566;
}
tr:hover {
  background: #4cb1ec21;
}
