body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.logo {
  height: 3em;
}

.plan {
  color: #000000;
}

.plan li {
  list-style: none;
  height: 10%;
  border-bottom: 0.9px solid rgba(46, 46, 46, 0.123);
  font-size: 0.9rem;
}
.plan li:last-of-type {
  border: none;
}

.plan h3 {
  text-align: center;
}

.plan-header {
  width: 100%;
  height: 18em;
  background: #f7f7f7;
}
.plan-price {
  font-size: 4em;
  color: #000000;
  font-weight: 700;
}
.plan .tipo-moneda {
  font-size: 2em;
}

.boton-preferido {
  background: #ffffff;
  border-radius: 30px;
  cursor: pointer;
  display: block;
  margin-top: 1.6em;
}

.boton-preferido:hover {
  background: #000000;
  transition: 0.25s;
  color: #ffffff;
}

.boton-no-preferido {
  border: 1px solid #0087bd;
  border-radius: 30px;
  cursor: pointer;
  display: block;
  width: 40%;
  margin: 0.5em auto 1em auto;
  text-align: center;
}
.boton-no-preferido:hover {
  background: #0087bd;
  transition: 0.3s;
}

.price-div {
  border-top: 0.9px solid rgba(46, 46, 46, 0.123);
}
.planes-titulo {
  font-size: 2.6rem;
  color: #0087bd;
}
.boton-a-inicio {
  font-size: 1.4em;

  height: 2em;
  border: 1px solid #002b3b;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  line-height: 0.5em;
  text-align: center;
  color: #000;
}
.boton-a-inicio:hover {
  transform: scale(1.05);
  background: #69caf0;
  transition: 0.2s;
  border: none;
}
.modal li {
  list-style: none;
  margin-top: 0.3em;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.1rem;
  width: 100%;
  background-color: #011638;
  background-image: linear-gradient(-90deg, #011638 10%, #000 100%);
  background-size: cover;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.sidebar {
  min-height: 100vh;
  width: 9em;
  color: #eeeeee;
  font-size: 90%;
}

.navbar-color {
  color: #000;
}
.titulo-navbar {
  font-size: 2em;
}
.bg-gradient-primary {
  background-color: #011638;
  background-image: linear-gradient(180deg, #011638 10%, rgb(0, 0, 0) 100%);
  background-size: cover;
}
.bg-gradient-secondary {
  background-color: #011638;
}
.accordion {
  overflow-anchor: none;
}
.sidebar .sidebar-brand {
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  z-index: 1;
}
.sidebar-brand-icon {
  width: 70%;
}

.sidebar-divider {
  margin: 0 1rem 1rem;
  background: #858796;
}
.sidebar i {
  font-size: 90%;
  color: #858796;
}

.navbar-item {
  margin-top: 1em;
}

#content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}
#content {
  flex: 1 0 auto;
}
#wrapper {
  display: flex;
}
.sidebar p:hover {
  color: #48caeb;
  transition: 0.2s;
}

.dashboard-title {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #5a5c69;
}

.card-dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  margin: 0 auto;
  padding: 1em;
}
li {
  list-style: none;
}

.navegacionadm {
  height: 100vh;
}

.dashboard-num {
  width: 10em;
  height: 10em;
  border-radius: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #011638;
  background-image: linear-gradient(160deg, #2163ce 10%, rgb(2, 1, 1) 100%);
  background-size: cover;
}

.dashboard-num-2 {
  width: 5em;
  height: 5em;
  border-radius: 90%;
}

.dashboard-num p {
  font-size: 6rem;
  color: #ebecf1;
}

.dashboard-num-2 p {
  font-size: 3.2rem;
  color: #ebecf1;
}

.bg-dashboard {
  background: #ffffff;
}
.btn-dashboard {
  background: #011638;
}
.dashboard-text {
  color: #5a5c69;
}
.dashboard-subtitle {
  color: #011638;
}
#content-wrapper h1 {
  color: #5a5c69;
  text-align: center;
}
.contenedor-edificio {
  width: 80%;
  font-size: 90%;
}
.contenedor-edificio i {
  font-size: 1.9rem;
}
.contenedor-edificio .fa-pencil-alt,
.contenedor-edificio .fa-times,
.contenedor-edificio .fa-trash-alt,
.contenedor-edificio .fa-check {
  font-size: 1.2rem;
}
.contenedor-edificio h5 {
  font-size: 100%;
  font-weight: bold;
}

.edificio-color-4 {
  color: #022d72;
}
.dashboard-green {
  background-color: #02af10;
  background-image: linear-gradient(160deg, #02ad10 10%, #012704 100%);
  background-size: cover;
}
.dashboard-yellow {
  background-color: #d4d100;
  background-image: linear-gradient(160deg, #fffb00 10%, #8f7502 100%);
  background-size: cover;
}
.dashboard-red {
  background-color: #f10000;
  background-image: linear-gradient(160deg, #e40303 10%, #310000 100%);
  background-size: cover;
}
.avatar-img {
  width: 12em;
  height: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1em;
  margin-top: 1em;
  background: rgb(245, 245, 245);
  z-index: 2;
  overflow: hidden;
}
.avatar-img img {
  height: 120%;
  width: auto;
}

.icons-conserje {
  z-index: 3;
  font-size: 1.2em;
  color: #e7e5e5;
}

.icons-conserje i {
  cursor: pointer;
}

.fondo-avatar {
  background: #001e3b;
  width: 100%;
  height: 10em;
  top: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  box-shadow: 0px 0px 12px -1px #000 inset;
}
.header-conserje {
  z-index: 2;
}
.w-40 {
  width: 40%;
}
.conserjes-activos {
  font-size: 1.1rem;
}
.prueba {
  background: #f9fbff;
}
.modal-lg {
  min-height: 70vh;
}
.boton-hover {
  background: #fff;
}
.boton-hover:hover {
  background: #69c8f0;
  transition: 0.2s;
}
.min-height-50 {
  min-height: 50vh;
}
.dashboard-blue {
  background-color: #121975;
  background-image: linear-gradient(160deg, #0312e4 10%, #010031 100%);
  background-size: cover;
}
.login-blue {
  background-color: #192192;
  background-image: linear-gradient(60deg, #1821a5 10%, #0a0964 100%);
  background-size: cover;
}

.login-background{
  background-color: #3941b4a4;
  background-image: linear-gradient(60deg, #1821a5 10%, #3f3ddf 60%);
  background-size: cover;
}
